@use '/src/styles/' as *;

.header{
    @include flex(row, space-between, center);
    width: 100%;
    background-color: $secondary-bg-color;
    padding: $default-spacing;

    @include bp(laptop) {
        padding: $default-spacing $double-spacing;
    }

    &__link:hover {
        text-decoration: none;
    }

    &__heading {
        color: $secondary-text-color;
        font-size: $font-size-l;

        @include bp(laptop) {
            font-size: $font-size-xl;
        }
    }
}