@use 'variables' as *;

@mixin flex($direction, $justify, $align) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin page() {
  gap: $default-spacing;
  padding: $default-spacing;
}

@mixin page-heading() {
  font-size: $font-size-l;

  @include bp(laptop) {
      font-size: $font-size-xl;
  }
}

@mixin button($type : default) {
  @include flex(row, center, center);
  font-size: $font-size-s;
  padding: $px8;
  min-width: 130px;
  border: 1px solid $primary-border-color;
  
  @if $type ==  primary {
    background-color: $primary-bg-color;
        
    &:hover {
      background-color: darken($primary-bg-color, 2%);
      }

    }
  
  @else if $type == secondary {
    background-color: $secondary-bg-color;
    color: $secondary-text-color;
    &:hover {
      background-color: lighten($secondary-bg-color, 5%);
    }
  }

  @else if $type == disabled {
    background-color: $tertiary-bg-color;
  }
}

@mixin bp($media) {

  @if $media == tablet {
    @media screen and (min-width: $break-tablet) {
      @content;
    }
  }

  @else if $media == laptop {
    @media screen and (min-width: $break-laptop) {
      @content;
    }
  }

  @else if $media == desktop {
    @media screen and (min-width: $break-desktop) {
      @content;
    }
  }
}

@mixin card($class) {
  
  #{$class} {
    @include page();
    @include flex(column, center, center);
    
    &__wrapper {
        @include flex(column, center, center);
        gap: $px8;
        max-width: 450px;
    }
  
    &__heading {
        @include page-heading();
    }

    &__text-wrapper {
        @include flex(row, space-between, center);
        width: 100%;
        gap: $default-spacing;
    }

    &__label {
        align-self: flex-start;
        font-weight: bold;

    }

    &__text {
        text-align: end;
        width:  60%;
        overflow-wrap: break-word;
    }


    &__list-heading,
    &__description-heading {
        font-size: $font-size-m;

        @include bp(laptop) {
            font-size: $font-size-l;
        }
    }

    &__description {
      padding: $default-spacing;

    }

    &__competencies-list {
        @include flex(column, center, flex-start);
        padding: $default-spacing;
        gap: $px8;
        font-weight: bold;
    }
  }
}

